<h2>Welcome to EZParking! You can use the App after login.</h2>

<p>Follow our <a href="https://www.youtube.com/channel/UCdJOwK9gS1od87ecxyzmIpA/featured">YouTube channel</a></p>

<p>The number of available spots shown in the home page depends on your current score.</p>
<p>Each new user can initially get 5 points.</p>
<p>By uploading parking spots, you can gain extra points. (1 point for 1 new spot)</p>